@{
    ViewData["Title"] = "Contact Me";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5">
    <h2 class="mb-4 fw-semibold border-bottom pb-2">Contact Me</h2>

    <!-- Email -->
    <div class="mb-4">
        <h5 class="fw-semibold">Email</h5>
        <p>
            <a href="mailto:kwethu8@gmail.com" class="text-decoration-none text-dark">
                kwethu8@gmail.com
            </a>
        </p>
    </div>

    <!-- Linkedin -->
    <div>
        <h5 class="fw-semibold">LinkedIn</h5>
        <p>
            <a href="https://www.linkedin.com/in/kwethukubonga-kunene-b32118302" 
               target="_blank" 
               class="text-decoration-none text-dark">
                www.linkedin.com/in/kwethukubonga-kunene-b32118302
            </a>
        </p>
    </div>
</div>



