@{
    ViewData["Title"] = "Journey";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Heading -->
<div class="container mt-5 journey-page">
    <div class="text-center mb-5">
        <h2 class="display-5 fw-bold">My Journey</h2>
        <p class="lead text-muted">From block coding in primary school to mentoring an FRC team across the world, here’s how it’s all unfolded so far.</p>
    </div>
    <!-- Images -->
    <div class="row gx-5 align-items-center">
        <div class="col-lg-6 mb-4 mb-lg-0">
            <div class="mb-4">
                <img src="~/images/frc-robot.jpg" class="img-fluid rounded shadow-sm mb-3" alt="FRC Robot">
                <img src="~/images/Journey.jpg" class="img-fluid rounded shadow-sm" alt="FRC Moments">
            </div>
        </div>
        <div class="col-lg-6">
            <h4 class="fw-semibold mb-3">My 9 year long journey</h4>
            <p>
                I started my coding journey in Grade 5 when I was introduced to Scratch. From Grade 5 to Grade 7, I was just having fun building games and animations, I didn’t even realise at the time that it was coding.
            </p>
            <p>
                Somewhere around that time, I'm guessing grade 6, my mom flew my sister and I out to Johannesburg for a coding camp. We built this app that made different animal sounds, I still remember how proud we were playing it for the first time. That trip was such a big deal for me, it made tech feel like something real and exciting.
            </p>
            <p>
                In Grade 9, we began using Greenfoot at school, and that’s where I learnt Java. My school had a compulsory subject called Robotics, and I really enjoyed it. My dad was already interested in robotics, so he was super excited that I was doing it too. He helped me a lot. We’d wake up at 5am most mornings to work on my robotics projects and maths together. He’s really good at both, so it became our little routine.
            </p>
            <p>
                In Grade 10, I took Information Technology as a subject and continued working with Java, this time using NetBeans. That’s when everything started making sense for me. I knew this is what I wanted to do.
            </p>
            <p>
                By Grade 11, I had my mind made up. I applied to Varsity College in Cape Town for their Computer and Information Science degree, and that’s where I’m studying now.
            </p>
            <p>
                During my first year, my dad started the Burman Bush Robotics Club. Every last Sunday of the month, we’d meet up and he’d teach us Python, which we originally planned to use for our robot but later decided on Java. He came across the FIRST Robotics Competition (FRC) and signed us up. Through God’s mercy, we were able to participate this year with barely any funding, and we placed 27th out of 53 teams. We’re hoping to secure proper funding next year and take the full team with us.
            </p>
            <p>
                Now in my second year, we’re working with C#, which has been a fun new challenge to add to everything I’ve learnt so far.
            </p>
        </div>
    </div>
</div>




